<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body class="disney-img" data-image-width="3840" data-image-height="2160">
  <section>
      <div class="col-md-12 text-center">
        <h1>Magic Kingdom Wait Times</h1>
        <h3>The Time of Magic Awaits</h3>
      </div>
    </div>
      <div class="col-md-12 text-center">
        <button id="homeButton" class="lrg-btn">Enter Here</button>
        <script type="text/javascript">
          document.getElementById("homeButton").onclick = function() {
            location.href = "/landing"
          }
        </script>
      </div>
    </div>
  </section>
</body>
</html>