<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
  <div class="container" id="header">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Magic Kingdom Wait Times</h1>
        <h3>The Time of Magic Awaits</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="lrg-btn">Enter Here</button>
      </div>
    </div>
  </div>
</body>
</html>